.date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.date__container {
  display: flex;
  align-items: center;
}

.date {
  font-size: 38px;
  font-weight: 500;
  padding-right: 6px;
  color: #002790;
}

.year {
  display: flex;
  flex-direction: column;
  padding-right: 6px;
}

.day {
  font-weight: 500;
  font-size: 38px;
}

.time {
  font-size: 38px;
}
