button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.line-through {
  text-decoration: line-through;
}

.color-gray {
  color: #ccc;
}
