@import "./global.css";
@import "./reset.css";
@import "./date.css";

body {
  font-family: "Pretendard Variable", Pretendard;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #d9e1ea;

  height: 100vh;
}

#wrap {
  width: 550px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todos__container > div {
  margin-bottom: 10px;
}

.todo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.todo__container__task {
  display: flex;
  align-items: center;
}

.todo__container__task span {
  padding-right: 6px;
}

.todo-done__menu button {
  display: flex;
  align-items: center;
}

.todo-input {
  width: 60%;
}

.edit-input {
  background-color: #f5f5f5;
  font-size: 16px;
}

.todo-util {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.todo-util__btn {
  display: flex;
}

.delete-all-btn,
.sort-btn {
  display: flex;
  align-items: center;
}

.sort-btn {
  padding-left: 10px;
}

.sort-btn span + span {
  padding-left: 3px;
}
