@import './global.css';
@import './reset.css';

.todo-container {
  display: flex;
  position: relative;
  width: 700px;
  margin: 20px 0;
}

.todo-container__btn {
  position: absolute;
  right: 0;
}
